<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.dartmouth.cs.whosupfor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To use the camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- To use the Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.dartmouth.cs.whosupfor.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.dartmouth.cs.whosupfor.SelectNewEventTypeActivity"
            android:label="@string/title_activity_select_new_event_type"
            android:parentActivityName="edu.dartmouth.cs.whosupfor.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.dartmouth.cs.whosupfor.MainActivity" />
        </activity>
        <activity
            android:name="edu.dartmouth.cs.whosupfor.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName="edu.dartmouth.cs.whosupfor.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.dartmouth.cs.whosupfor.MainActivity" />
        </activity>
        <activity
            android:name="edu.dartmouth.cs.whosupfor.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="edu.dartmouth.cs.whosupfor.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.dartmouth.cs.whosupfor.MainActivity" />
        </activity>
        <activity
            android:name="edu.dartmouth.cs.whosupfor.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName="edu.dartmouth.cs.whosupfor.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.dartmouth.cs.whosupfor.MainActivity" />
        </activity>
        <activity
            android:name="edu.dartmouth.cs.whosupfor.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="edu.dartmouth.cs.whosupfor.CreateNewEventActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_create_new_event"
            android:parentActivityName="edu.dartmouth.cs.whosupfor.SelectNewEventTypeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.dartmouth.cs.whosupfor.SelectNewEventTypeActivity" />
        </activity>
    </application>

</manifest>